Foreign Keys in SQL
---------------------

In [ ]:
%load_ext sql
%sql sqlite://

We will start by creating a SQL database on Books and Authors. Let's first create a table named `Author` with three attributes:
> * `authorid`
> * `firstname`
> * `lastname`

In [ ]:
%%sql
CREATE TABLE Author(
    authorid INTEGER PRIMARY KEY,    
    firstname CHAR(20),
    lastname CHAR(30)
);

In [ ]:
%sql INSERT INTO Author VALUES(1,'Dan', 'Brown');

To make SQLite enforce foreign key constraints, we need to run the following command

In [ ]:
%sql PRAGMA foreign_keys = ON;

In [ ]:
%%sql
CREATE TABLE Book(
  bookid INTEGER PRIMARY KEY,
  title TEXT,
  authorid INTEGER,
  FOREIGN KEY (authorid) REFERENCES Author(authorid)
);

In [ ]:
%sql INSERT INTO Book VALUES(5634, 'Da Vinvi Code', 001);

If however we try to insert a tuple that has an `authorid` not in the table `Author`, then it fails.

In [ ]:
%sql INSERT INTO Book VALUES(5674, 'Enders Game', 003);

The same problem will occur if we try to delete from `Author` a tuple that is referred to from the table `Book`.

In [ ]:
%sql DELETE FROM Author WHERE authorid = 1 ;

Or if we try to update the value of the tuple.

In [ ]:
%%sql
UPDATE Author
SET authorid = 5
WHERE authorid = 1 ;

The *default* behavior of SQL is to reject actions (insertions, deletions, updates) that violate the foreign key constraints. We can change this behavior by changing the table definition.

In [ ]:
%%sql
DROP Table Book;
CREATE TABLE Book(
  bookid INTEGER PRIMARY KEY,
  title TEXT,
  authorid INTEGER,
  FOREIGN KEY (authorid) REFERENCES Author(authorid)
    ON UPDATE CASCADE
    ON DELETE CASCADE
);

INSERT INTO Book VALUES(5634, 'Da Vinvi Code', 001);

Now let's try again!

In [ ]:
%sql DELETE FROM Author WHERE authorid = 1 ;

In [ ]:
%sql SELECT * from Book ;