**Make sure to have a copy of the database file, "world-db", downloaded and in this directory for the below to work!**

In [1]:
%load_ext sql
%sql sqlite:///./world-db

Connecting to 'sqlite:///./world-db'

The database `world` has 3 tables: 
> * `City`
> * `Country`
> * `CountryLanguage`

Recall that to find the schema of a table, we can type the following command:

In [2]:
%sql SELECT sql FROM sqlite_master ;

Running query in 'sqlite:///./world-db'

+-------------------------------------------------------------------------------------------------+
|                                               sql                                               |
+-------------------------------------------------------------------------------------------------+
|                                      CREATE TABLE `City` (                                      |
|                                       `ID` int(11) NOT NULL,                                    |
|                                `Name` char(35) NOT NULL DEFAULT '',                             |
|                             `CountryCode` char(3) NOT NULL DEFAULT '',                          |
|                              `District` char(20) NOT NULL DEFAULT '',                           |
|                             `Population` int(11) NOT NULL DEFAULT '0',                          |
|                                        PRIMARY KEY (`ID`),                                      |
|         CONSTRAINT `city_ibfk_1` FOREIGN KEY (`CountryCode`) REFERENCES `Country` (`Code`)      |
|                                                )                                                |
|                                               None                                              |
|                                 CREATE TABLE `CountryLanguage` (                                |
|                             `CountryCode` char(3) NOT NULL DEFAULT '',                          |
|                              `Language` char(30) NOT NULL DEFAULT '',                           |
|                             `IsOfficial` char(1) NOT NULL DEFAULT 'F',                          |
|                          `Percentage` float(4,1) NOT NULL DEFAULT '0.0',                        |
|                              PRIMARY KEY (`CountryCode`,`Language`),                            |
|   CONSTRAINT `countryLanguage_ibfk_1` FOREIGN KEY (`CountryCode`) REFERENCES `Country` (`Code`) |
|                                                )                                                |
|                                               None                                              |
|                                     CREATE TABLE `Country` (                                    |
|                                `Code` char(3) NOT NULL DEFAULT '',                              |
|                                `Name` char(52) NOT NULL DEFAULT '',                             |
|                           `Continent` char(15) NOT NULL DEFAULT 'Asia',                         |
|                               `Region` char(26) NOT NULL DEFAULT '',                            |
|                         `SurfaceArea` float(10,2) NOT NULL DEFAULT '0.00',                      |
|                               `IndepYear` smallint(6) DEFAULT NULL,                             |
|                             `Population` int(11) NOT NULL DEFAULT '0',                          |
|                             `LifeExpectancy` float(3,1) DEFAULT NULL,                           |
|                                  `GNP` float(10,2) DEFAULT NULL,                                |
|                                 `GNPOld` float(10,2) DEFAULT NULL,                              |
|                             `LocalName` char(45) NOT NULL DEFAULT '',                           |
|                           `GovernmentForm` char(45) NOT NULL DEFAULT '',                        |
|                                `HeadOfState` char(60) DEFAULT NULL,                             |
|                                  `Capital` int(11) DEFAULT NULL,                                |
|                                `Code2` char(2) NOT NULL DEFAULT '',                             |
|                                        PRIMARY KEY (`Code`)                                     |
|                                                )                                                |
|                                               None                                              |
|                              CREATE VIEW OfficialCountryLanguage AS                             |
|                       SELECT C.Name AS CountryName, L.Language AS Language                      |
|                                FROM CountryLanguage L, Country C                                |
|                                   WHERE L.CountryCode = C.Code                                  |
|                                      AND L.IsOfficial = 'T'                                     |
|                                                 CREATE TABLE Author(
                                                 |
|                                                     authorid INTEGER PRIMARY KEY,
                                                 |
|                                                     name TEXT
                                                 |
|                                                )                                                |
|                                        CREATE TABLE Book(                                       |
|                                    bookid INTEGER PRIMARY KEY,                                  |
|                                            title TEXT,                                          |
|                                          author INTEGER,                                        |
|                          FOREIGN KEY (author) REFERENCES Author(authorid)                       |
|                                          ON UPDATE SET NULL                                     |
|                                          ON DELETE CASCADE                                      |
|                                                )                                                |
+-------------------------------------------------------------------------------------------------+

SINGLE-TABLE QUERIES
-------------------

Let's start with a simple query: what is the population of the USA?

In [3]:
%%sql 
SELECT Population
FROM Country 
WHERE Code = 'USA';

Running query in 'sqlite:///./world-db'

+------------+
| Population |
+------------+
| 278357000  |
+------------+

Next, let's write a query that returns the countries that gained independence after 1989, along with the year they gained independence.

In [ ]:
%%sql
SELECT Name, IndepYear
FROM Country
WHERE IndepYear >= '1990';

To return all attributes of a table, we use the `*` in the SELECT clause. For instance, the following query returns all the attributes for cities with population over 1 million in the US.

In [ ]:
%%sql 
SELECT *
FROM City
WHERE Population >= 1000000 AND CountryCode = 'USA';

Keep in mind that for constants we need to use single quotes!

We can rename an attribute in the output schema by using the SQL command AS. For example:

In [ ]:
%%sql
select Name AS LargeUSACity, Population
FROM City
WHERE Population >= 1000000 AND CountryCode = 'USA';

It is possible to also perform arithmetic operations inside the SELECT clause. For example, to return the population in millions, we can use division.

In [ ]:
%%sql
SELECT Name, (Population / 1000000) AS PopulationInMillion
FROM City
WHERE Population >= 1000000 AND CountryCode = 'USA';

Observe that division here behaves as integer division. If we want to get a float value, we can rewrite the above query (similar to type casting):

In [ ]:
%%sql
SELECT Name, (Population / 1000000.0)
FROM City
WHERE (Population >= 1000000 OR Population <= 1000) AND CountryCode = 'USA' ;

Let's do some pattern matching! Find the countries that have a form of goverment that contains the word monarchy

In [ ]:
%%sql
SELECT Name, GovernmentForm
FROM Country
WHERE GovernmentForm LIKE 'monarchy';

Next, suppose that we want to find out all the different forms a government. Let's try the following:

In [ ]:
%%sql
SELECT GovernmentForm
FROM Country ;

The above query did not return the desired result, because it keeps a separate copy for each occurrence of the same value in the table. To remove the duplicates, we simply need to add the DISTINCT keyword.

In [ ]:
%%sql
SELECT DISTINCT GovernmentForm
FROM Country ;

We can use ORDER BY to order the city population by decreasing population.

In [ ]:
%%sql
SELECT Name, Population/1000000 AS Pop
FROM City
WHERE Population >= 1000000 AND CountryCode = 'USA'
ORDER BY Pop ASC, Name ASC;

LIMIT is very useful if we want to look at only a few rows of a table.

In [ ]:
%%sql
SELECT *
FROM City
LIMIT 1;

Finally, let's write a query that returns the two most populous cities in the US using LIMIT.

In [ ]:
%%sql
SELECT Name, Population
FROM City
WHERE CountryCode = 'USA'
ORDER BY Population DESC
LIMIT 2;