Creating tables in SQL
---------------------

Before we actually get into basic SQL queries (**asking questions _of_ data in tables**), we'll look at some of the basics about how to **create** tables.

In [4]:
%load_ext sql
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

We will start by creating a SQL database on Books and Authors. Let's first create a table named `Author` with three attributes:
> * `authorid`
> * `firstname`
> * `lastname`

In [5]:
%%sql
CREATE TABLE Author(
    authorid INTEGER PRIMARY KEY,    
    firstname CHAR(20),
    lastname CHAR(30)
);

Running query in 'sqlite://'

++
||
++
++

Let's see how to view the **schema** of existing tables. There are several ways, including but not limited to:
* DESCRIBE tablename
* SHOW CREATE TABLE tablename
* SHOW COLUMNS tablename

Unfortunately, support for these varies widely between DBMSs, and is also limited by our IPython interface (for example sqlite, which we are using, does not support the above; it does have a `.schema tablename` command, however this doesn't work in IPython notebooks...)

One that does work for us here though is:

In [7]:
#Metadata in SQLite can be obtained using the PRAGMA command
%sql PRAGMA table_info(Author);

Running query in 'sqlite://'

+-----+-----------+----------+---------+------------+----+
| cid |    name   |   type   | notnull | dflt_value | pk |
+-----+-----------+----------+---------+------------+----+
|  0  |  authorid | INTEGER  |    0    |    None    | 1  |
|  1  | firstname | CHAR(20) |    0    |    None    | 0  |
|  2  |  lastname | CHAR(30) |    0    |    None    | 0  |
+-----+-----------+----------+---------+------------+----+

And, we can get the exact statement used to create the table as follows:

In [8]:
%sql SELECT sql FROM sqlite_master WHERE name = 'Author';

Running query in 'sqlite://'

+-----------------------------------+
|                sql                |
+-----------------------------------+
|        CREATE TABLE Author(       |
|     authorid INTEGER PRIMARY KEY, |
|          firstname CHAR(20),      |
|           lastname CHAR(30)       |
|                 )                 |
+-----------------------------------+

To insert a new tuple in a table, we use the SQL command INSERT.

In [9]:
%sql INSERT INTO Author VALUES(1,'Dan', 'Brown');

Running query in 'sqlite://'

1 rows affected.

++
||
++
++

Alternatively, we can also insert a tuple by specifying the corresponding attributes.

In [10]:
%sql INSERT INTO Author(authorid, lastname, firstname) VALUES(2, 'Verne', 'Jules');

Running query in 'sqlite://'

1 rows affected.

++
||
++
++

To check that the tuples has indeed been added to the table, we can ask:

In [11]:
%%sql 
SELECT *
FROM Author;

Running query in 'sqlite://'

+----------+-----------+----------+
| authorid | firstname | lastname |
+----------+-----------+----------+
|    1     |    Dan    |  Brown   |
|    2     |   Jules   |  Verne   |
+----------+-----------+----------+

The attribute `authorid` is a *primary key*. This means that it is not possible to add in the table another author with the same value. For example, see what happens when we attempt to violate the constraint.

In [12]:
%sql INSERT INTO Author VALUES(2,'Isaac', 'Asimov');

Running query in 'sqlite://'

RuntimeError: (sqlite3.IntegrityError) UNIQUE constraint failed: Author.authorid
[SQL: INSERT INTO Author VALUES(2,'Isaac', 'Asimov' );]
(Background on this error at: https://sqlalche.me/e/20/gkpj)