MULTI-TABLE QUERIES
---------------------

In [ ]:
%load_ext sql
%sql sqlite:///./world-db

The database `world` has 3 tables: 
> * `City`
> * `Country`
> * `CountryLanguage`

What are the names of all countries that speak Greek? To answer this question, we need to combine information from two tables by *joining* them.

In [ ]:
%%sql
SELECT Country.Name
FROM Country, CountryLanguage
WHERE Country.Code = CountryLanguage.CountryCode
AND CountryLanguage.Language = 'Greek';

Notice how we need to specify the table that each attribute comes from. Another way to write the above query:

In [ ]:
%%sql
SELECT DISTINCT Name
FROM Country C, CountryLanguage L
WHERE C.Code = L.CountryCode
AND L.Language = 'Greek';

Let's write a query that returns the countries that speak at least 50% Greek.

In [ ]:
%%sql
SELECT C.Name
FROM Country C, CountryLanguage L
WHERE C.Code = L.CountryCode
AND L.Language = 'Greek'
AND L.Percentage >= 50 ;

And now a query that returns the district of the capital of USA.

In [ ]:
%%sql
SELECT T.district
FROM Country C, City T
WHERE C.code = 'USA'
AND C.capital = T.id ;

Next, we want to return the countries that speak both Greek and English.

In [ ]:
%%sql
SELECT C.Name
FROM Country C, CountryLanguage L1, CountryLanguage L2
WHERE C.Code = L1.CountryCode
AND C.Code = L2.CountryCode
AND L1.Language = 'Greek'
AND L2.Language = 'English';

Alternatively, we can write the above query using INTERSECT.

In [ ]:
%%sql
SELECT C.Name
FROM Country C, CountryLanguage L
WHERE C.Code = L.CountryCode
AND L.Language = 'Greek'
INTERSECT
SELECT C.Name
FROM Country C, CountryLanguage L
WHERE C.Code = L.CountryCode
AND L.Language = 'English' ;